@import 'variables.scss';
@import 'helpers.scss';

.wrapper {
  width: 100%;
  height: 100%;
  outline: none;
}
.app {
  margin: auto;
  max-width: 600px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;

  .app-header {
    background-color: $green;
    padding: add-px($padding-value-large * 2);
    border-radius: add-px($border-radius-large);
    color: $white;
 
    .score-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }

  .app-title {
    margin: 0;
    background-color: $white;
    font-size: 3.5em;
    color: $green;
    margin-bottom: add-px($padding-value-large * 2);
    border-radius: add-px($border-radius-large);
  }
  
  @media screen and (max-width: 520px) {
    .app-title {
      font-size: 1.5em;
    }
  }

  .menu {
    display: flex;
    flex-direction: row;
    padding-top: add-px($padding-value-large * 2);
    padding-bottom: add-px($padding-value-large * 2);
    justify-content: space-between;
  }
}