@import 'variables.scss';
@import 'helpers.scss';

@mixin boardDimensions($grid-size, $padding-value, $block-size) {
  width: add-px(2 * $grid-size * $padding-value + $grid-size * $block-size);
  height: add-px(2 * $grid-size * $padding-value + $grid-size * $block-size);
}

.board {
  @include boardDimensions(4, $padding-value-large, $block-size-4-large);
  align-self: center;
  outline: none;
  padding: add-px($padding-value-large);
  background-color: $green;
  border-radius: add-px($border-radius-large);
  position: relative;
  
  .board-tile-container {
    position: relative;

    .tiles-wrapper {
      position: absolute;
      @include boardDimensions(4, $padding-value-large, $block-size-4-large);
      touch-action: none;
      cursor: default;
    }
  }
}

@media screen and (max-width: 520px) {
  .board {
    @include boardDimensions(4, $padding-value-small, $block-size-4-small);
    padding: add-px($padding-value-small);
    border-radius: add-px($border-radius-small);

    .board-tile-container {
      .tiles-wrapper {
        @include boardDimensions(4, $padding-value-small, $block-size-4-small);
      }
    }
  }
}
