@import 'variables.scss';
@import 'helpers.scss';

.button {
  width: 30%;
  padding-top: add-px($padding-value-large * 2);
  padding-bottom: add-px($padding-value-large * 2);
  border-radius: add-px($border-radius-large);
  background-color: $green;
  color: $white;
  display: block;
  user-select: none;
  font-size: 1em;

  &:hover {
    background-color: green;
  }
}
  @media screen and (max-width: 520px) {
  .button {
    font-size: 0.8em;
  }
}