@import 'variables.scss';
@import 'helpers.scss';

.notifier {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba($color: #ffffff, $alpha: 0.7);
  border-radius: add-px($border-radius-large * 2);
  padding: add-px($padding-value-large);
  position: absolute;
  top: add-px($padding-value-large);
  left: add-px($padding-value-large);
  right: add-px($padding-value-large);
  bottom: add-px($padding-value-large);

  .notifier-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
}

