@import 'variables.scss';
@import 'helpers.scss';

@mixin placeholder ($size, $padding, $border-radius) {
  background-color: $placeholder-color;
  border-radius: add-px($border-radius-large + 1);
  margin: add-px($padding);
  height: add-px($size);
  width: add-px($size);
}

@for $i from $min-block through $max-block {
  $index: $i % $min-block + 1;
  $block-large: nth($block-sizes-large, $index);
  $block-small: nth($block-sizes-small, $index);

  .placeholder-#{$i} {
    @include placeholder($block-large, $padding-value-large, $border-radius-large + 1);
  }

  @media screen and (max-width: 520px) {
    .placeholder-#{$i} {
      @include placeholder($block-small, $padding-value-small, $border-radius-small + 1);
    }
  }
}
