@import 'variables.scss';
@import 'helpers.scss';

@for $i from 1 through 11 {
  $base: 2;
  $number: pow($base, $i);
  $color: 22;
  $red: 255 - $color * $i;
  $blue: $color * $i;
  .value-#{$number} {
    background-color: rgb($red, 255, $blue);
  }
}

@mixin tile($size, $border-radius) {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: add-px($size);
  height: add-px($size);
  border-radius: add-px($border-radius);

  .tile-value {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: $gray;
  }
}

@mixin position-creator($row, $col, $padding-value, $block-size) {
  top: add-px($padding-value + 2 * $padding-value * $row + $row * $block-size); 
  left: add-px($padding-value + 2 * $padding-value * $col + $col * $block-size);
}

@for $size from $min-block through $max-block {
  $index: $size % $min-block + 1;
  $block-large: nth($block-sizes-large, $index);
  $block-small: nth($block-sizes-small, $index);

  .tile-#{$size} {
    @include tile($block-large, $border-radius-large);
  }

  @media screen and (max-width: 520px) {
    .tile-#{$size} {
      @include tile($block-small, $border-radius-small);

      .tile-value {
        font-size: 1em;
      }
    }
  }

  @for $i from 0 through $size {
    @for $j from 0 through $size {
      .position-#{$size}-#{$i}-#{$j} {
        @include position-creator($i, $j, $padding-value-large, $block-large);
      }
      
      @keyframes transition-to-#{$size}-#{$i}-#{$j} {
        to {
          @include position-creator($i, $j, $padding-value-large, $block-large);
        }
      }

      @media screen and (max-width: 520px) {
        .position-#{$size}-#{$i}-#{$j} {
          @include position-creator($i, $j, $padding-value-small, $block-small);
        }

        @keyframes transition-to-#{$size}-#{$i}-#{$j} {
          to {
            @include position-creator($i, $j, $padding-value-small, $block-small);
          }
        }
      }
    }
  }

  @for $i from 0 through $size {
    @for $j from 0 through $size {
      .state-merged-from-#{$size}-#{$i}-#{$j} {
        animation: transition-to-#{$size}-#{$i}-#{$j} 0.6s, fade 1.2s;
        animation-fill-mode: forwards;
      }

      .move-to-#{$size}-#{$i}-#{$j} {
        animation: transition-to-#{$size}-#{$i}-#{$j} 0.8s;
        animation-fill-mode: forwards;
      }
    }
  }
}

.state-new {
  animation : magnify 0.2s;
  animation-fill-mode: forwards;
}

.state-hidden {
  display: none;
}

.state-increased {
  animation: pulse 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes magnify {
  from {
    transform : scale(0);
    opacity   : 0;
  }
  to {
    transform : scale(1);
    opacity   : 1;
  }
}

@keyframes pulse {
  from {
    transform : scale(1);
    opacity   : 0.25;
  }
  50% {
    transform : scale(1.20);
    opacity   : 1;
  }
  to {
    transform : scale(1);
    opacity   : 1;
  }
}
