$block-size-4-large: 100;
$block-size-5-large: 78;
$block-size-6-large: 63.3;
$padding-value-large: 5;
$border-radius-large: 5;

$block-size-4-small: 50;
$block-size-5-small: 38.8;
$block-size-6-small: 31.3;
$padding-value-small: 3;
$border-radius-small: 3;

$green: rgb(0, 157, 102);
$gray: #444444;
$placeholder-color: #79cf73;
$white: white;

$block-sizes-large: $block-size-4-large, $block-size-5-large, $block-size-6-large; 
$block-sizes-small: $block-size-4-small, $block-size-5-small, $block-size-6-small; 

$min-block: 4;
$max-block: 6;
